body {
    font-family: Arial;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: baseline;
    /* gap: 10px 20px; */
}
.item {
    border-radius: 50%;
    border: 6px solid black;
     
}

.my-circ1 {
    fill: rgb(174, 230, 22);
    
}

.my-circ2 {
    fill: rgb(21, 139, 235);
}

.my-circ3 {
    fill:rgb(208, 14, 214);
}
